@inherits LayoutComponentBase

<div class="page">
    <div class="sidebar" style="min-width:300px;">
        <NavMenu />
    </div>

    <div class="main">
        <div class="content px-4">
            <!-- Here the Pages are inserted -->
            @Body
        </div>
    </div>
</div>
